click==8.1.*  # Remove hard-coded version in PyUdisk
cryptography==45.0.*
docker==7.1.*
fastapi==0.116.*
gmail-connector==1.0.*
Jinja2==3.1.*
psutil==6.0.*  # Remove hard-coded version in PyUdisk
PyArchitecture==0.3.*
pydantic==2.*
pydantic-settings==2.*
python-multipart>=0.0.19
PyUdisk==2.0.*
PyYaml==6.0.*
requests==2.*
uvicorn[standard]==0.35.*
