click==8.1.*
docker==7.1.*
fastapi==0.112.*
Jinja2==3.1.*
psutil==6.0.*
PyArchitecture==0.3.*
pydantic==2.*
pydantic-settings==2.*
python-multipart>=0.0.19
PyUdisk==2.0.*
PyYaml==6.0.*
requests==2.*
uvicorn[standard]==0.32.*
