#### This is a sample logging configuration for the API. ####
version: 1
disable_existing_loggers: True
formatters:
  default:
    (): 'uvicorn.logging.DefaultFormatter'
    datefmt: '%b-%d-%Y %I:%M:%S %p'
    fmt: '%(asctime)s %(levelprefix)-9s [%(module)s:%(lineno)d] - %(message)s'
    use_colors: False
  access:
    (): 'uvicorn.logging.AccessFormatter'
    datefmt: '%b-%d-%Y %I:%M:%S %p'
    fmt: '%(asctime)s %(levelprefix)-9s [%(module)s:%(lineno)d] %(client_addr)s - %(status_code)s'
    use_colors: False
  error:
    (): 'uvicorn.logging.DefaultFormatter'
    datefmt: '%b-%d-%Y %I:%M:%S %p'
    fmt: '%(asctime)s %(levelprefix)-9s [%(module)s:%(lineno)d] - %(message)s'
    use_colors: False
handlers:
  default:
    class: logging.FileHandler  # Can be changed to StreamHandler for stdout logging
    formatter: default
    filename: default.log
  access:
    class: logging.FileHandler  # Can be changed to StreamHandler for stdout logging
    formatter: access
    filename: access.log
  error:
    class: logging.FileHandler  # Can be changed to StreamHandler for stdout logging
    formatter: error
    filename: default.log
loggers:
  uvicorn:
    propagate: True
    level: DEBUG
    handlers:
      - default
  uvicorn.error:
    propagate: True
    level: DEBUG
    handlers:
      - error
  uvicorn.access:
    propagate: True
    level: DEBUG
    handlers:
      - access
