<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>PyNinja - System Monitor</title>
    <meta property="og:type" content="SystemMonitor">
    <meta name="keywords" content="Python, Monitor, fastapi, JavaScript, HTML, CSS">
    <meta name="author" content="Vignesh Rao">
    <link property="og:image" rel="icon" href="https://thevickypedia.github.io/open-source/images/logo/fastapi.ico">
    <link property="og:image" rel="apple-touch-icon"
          href="https://thevickypedia.github.io/open-source/images/logo/fastapi.png">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <!-- CSS and JS for night mode -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script type="text/javascript" src="https://thevickypedia.github.io/open-source/nightmode/night.js" defer></script>
    <link rel="stylesheet" type="text/css" href="https://thevickypedia.github.io/open-source/nightmode/night.css">
    <!--suppress CssUnusedSymbol -->
    <style id="main-css">
        body {
            font-family: Arial, sans-serif;
        }

        .container {
            display: flex;
            justify-content: space-between;
            margin-top: 50px;
        }

        .box {
            border: 1px solid #ccc;
            padding: 20px;
            width: 30%;
            text-align: center;
        }

        .progress {
            width: 100%;
            background-color: #f3f3f3;
            border-radius: 5px;
            overflow: hidden;
            transition: background-color 0.5s ease;
        }

        .progress-bar {
            height: 25px;
            transition: width 0.5s ease, background-color 0.5s ease;
            width: 0;
        }

        .progress-bar-green {
            background-color: #4caf50;
        }

        .progress-bar-yellow {
            background-color: #ffeb3b;
        }

        .progress-bar-red {
            background-color: #f44336;
        }

        .chart-container {
            position: relative;
            height: 200px;
            width: 80%;
            margin: 0 auto;
            max-width: 100%;
        }

        canvas {
            width: 100% !important;
            height: inherit !important;
            max-height: 100% !important;
        }

        .tooltip-button {
            padding: 5px 5px;
            font-size: 14px;
            cursor: pointer;
            border: 1px solid #ccc;
            border-radius: 5px;
            background-color: #f0f0f0;
        }

        .tooltip-button:hover {
            background-color: #e0e0e0;
        }

        .center-container {
            width: 100%;
            text-align: center;
        }

        h1 {
            width: 100%;
            text-align: center;
            align-content: center;
        }

        .corner {
            position: absolute;
            top: 3%;
            right: 2%;
            font-size: 12px;
        }
    </style>
</head>
<div class="corner">
    <i>
        <span id="span"></span><br>
        Last status update: <span id="lastUpdate"></span><br>
        Generated by <a href="https://github.com/thevickypedia/PyNinja">PyNinja</a>
    </i>
</div>
<body translate="no">
<div class="toggler fa fa-moon-o"></div>
<h1>PyNinja - System Monitor</h1>
<div class="center-container">
    <details>
        <summary><strong>System Information</strong></summary>
        <br>
        <strong>Node: </strong>{{ node }}<br>
        <strong>Architecture: </strong>{{ system }}-{{ machine }}<br>
        <strong>Release Version: </strong>{{ release }}<br>
        <strong>CPU Cores: </strong>{{ cores }}<br>
        <strong>RAM Capacity: </strong>{{ memory }}<br>
        {% if swap %}
            <strong>Swap Capacity: </strong>{{ swap }}<br>
        {% endif %}
        <strong>Uptime: </strong>{{ uptime }}<br>
    </details>
</div>
<div class="container">
    <div class="box">
        <h3>CPU Usage</h3>
        <div class="cpu-box" id="cpuUsageContainer">
            <!-- CPU Usage will be dynamically added here -->
        </div>
        <br>
        <h3>Set CPU Interval (seconds)</h3>
        <label for="cpuInterval"></label><input type="number" id="cpuInterval" min="1"
                                                value="{{ default_cpu_interval }}">
        <button class="tooltip-button" title="Used to compare CPU times elapsed before and after interval."
                id="setCPUIntervalBtn">Update
        </button>
        <h3>Set Refresh Interval (seconds)</h3>
        <label for="refreshInterval"></label><input type="number" id="refreshInterval" min="1"
                                                    value="{{ default_refresh_interval }}">
        <button class="tooltip-button" title="Frequency to query system resources." id="setRefreshIntervalBtn">Update
        </button>
    </div>
    <div class="box">
        {% if swap %}
            <h3>Memory and Swap Usage</h3>
        {% else %}
            <h3>Memory Usage</h3>
        {% endif %}
        <div class="progress">
            <div id="memoryUsage" class="progress-bar"></div>
        </div>
        <p id="memoryUsageText">Memory: 0%</p>
        {% if swap %}
            <div class="progress">
                <div id="swapUsage" class="progress-bar"></div>
            </div>
            <p id="swapUsageText">Swap: 0%</p>
        {% endif %}
    </div>
    <div class="box">
        <h3>Memory Usage</h3>
        <div class="chart-container">
            <canvas id="memoryChart"></canvas>
        </div>
        {% if swap %}
            <h3>Swap Usage</h3>
            <div class="chart-container">
                <canvas id="swapChart"></canvas>
            </div>
        {% endif %}
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const wsProtocol = window.location.protocol === "https:" ? "wss" : "ws";
        const wsHost = window.location.host;
        const ws = new WebSocket(`${wsProtocol}://${wsHost}/ws/system`);

        let memoryChartInstance = null;
        let swapChartInstance = null;

        ws.onmessage = function (event) {
            const date = new Date();
            document.getElementById('lastUpdate').innerText = date.toLocaleString();
            let data;
            try {
                data = JSON.parse(event.data);
            } catch (error) {
                console.warn('Error parsing JSON data:', error);
                alert(event.data);
                window.location.href = `${window.location.origin}/logout`;
                return;
            }
            // Update CPU usage
            const cpuUsage = data.cpu_usage;
            const cpuContainer = document.getElementById('cpuUsageContainer');
            cpuContainer.innerHTML = ''; // Clear previous content
            cpuUsage.forEach((usage, index) => {
                const cpuDiv = document.createElement('div');
                cpuDiv.innerHTML = `
                        <strong>CPU ${index + 1}:</strong> ${usage}%
                        <div class="progress">
                            <div id="cpu${index}" class="progress-bar"></div>
                        </div>
                    `;
                cpuContainer.appendChild(cpuDiv);
                updateProgressBar(`cpu${index}`, usage);
            });

            // Update Memory and Swap usage
            const memoryInfo = data.memory_info;
            const memoryUsage = (memoryInfo.used / memoryInfo.total) * 100;
            document.getElementById('memoryUsage').style.width = memoryUsage.toFixed(2) + '%';
            document.getElementById('memoryUsageText').innerText = `Memory: ${memoryUsage.toFixed(2)}%`;
            updateProgressBar('memoryUsage', memoryUsage);

            const swapInfo = data.swap_info;
            if (swapInfo.used && swapInfo.total) {
                const swapUsage = (swapInfo.used / swapInfo.total) * 100;
                document.getElementById('swapUsage').style.width = swapUsage.toFixed(2) + '%';
                document.getElementById('swapUsageText').innerText = `Swap: ${swapUsage.toFixed(2)}%`;
                updateProgressBar('swapUsage', swapUsage);
            }

            // Create/update pie charts
            if (memoryChartInstance) {
                memoryChartInstance.data.datasets[0].data = [memoryInfo.used, memoryInfo.total - memoryInfo.used];
                memoryChartInstance.update();
            } else {
                const memoryChart = document.getElementById('memoryChart').getContext('2d');
                memoryChartInstance = new Chart(memoryChart, {
                    type: 'pie',
                    data: {
                        labels: ['Used', 'Free'],
                        datasets: [{
                            label: 'Memory Usage',
                            data: [memoryInfo.used, memoryInfo.total - memoryInfo.used],
                            backgroundColor: ['#FF6384', '#36A2EB']
                        }]
                    },
                    options: {
                        responsive: true,
                        plugins: {
                            tooltip: {
                                callbacks: {
                                    label: function (tooltipItem) {
                                        const value = tooltipItem.raw;
                                        const formattedValue = formatBytes(value);
                                        return `${tooltipItem.label}: ${formattedValue}`;
                                    }
                                }
                            }
                        }
                    }
                });
            }

            if (swapChartInstance) {
                swapChartInstance.data.datasets[0].data = [swapInfo.used, swapInfo.total - swapInfo.used];
                swapChartInstance.update();
            } else {
                const swapChart = document.getElementById('swapChart');
                if (swapChart) {
                    const swapContext = swapChart.getContext('2d')
                    swapChartInstance = new Chart(swapContext, {
                        type: 'pie',
                        data: {
                            labels: ['Used', 'Free'],
                            datasets: [{
                                label: 'Swap Usage',
                                data: [swapInfo.used, swapInfo.total - swapInfo.used],
                                backgroundColor: ['#FFCE56', '#E7E9ED']
                            }]
                        },
                        options: {
                            responsive: true,
                            plugins: {
                                tooltip: {
                                    callbacks: {
                                        label: function (tooltipItem) {
                                            const value = tooltipItem.raw;
                                            const formattedValue = formatBytes(value);
                                            return `${tooltipItem.label}: ${formattedValue}`;
                                        }
                                    }
                                }
                            }
                        }
                    });
                }
            }
        };

        document.getElementById('setCPUIntervalBtn').addEventListener('click', () => {
            const cpuInterval = document.getElementById('cpuInterval').value;
            ws.send(`cpu_interval:${cpuInterval}`);
        });
        document.getElementById('setRefreshIntervalBtn').addEventListener('click', () => {
            const refreshInterval = document.getElementById('refreshInterval').value;
            ws.send(`refresh_interval:${refreshInterval}`);
        });

        function updateProgressBar(id, percentage) {
            const bar = document.getElementById(id);
            bar.style.width = percentage + '%';

            // Remove old color classes
            bar.classList.remove('progress-bar-green', 'progress-bar-yellow', 'progress-bar-red');

            // Add new color class based on percentage
            if (percentage <= 40) {
                bar.classList.add('progress-bar-green');
            } else if (percentage <= 80) {
                bar.classList.add('progress-bar-yellow');
            } else {
                bar.classList.add('progress-bar-red');
            }
        }

        function formatBytes(bytes) {
            if (bytes < 1024) return bytes + ' bytes';
            else if (bytes < 1048576) return (bytes / 1024).toFixed(2) + ' KB';
            else if (bytes < 1073741824) return (bytes / 1048576).toFixed(2) + ' MB';
            else return (bytes / 1073741824).toFixed(2) + ' GB';
        }
    });
</script>
</body>
</html>
